{% extends "base.html" %}
{% block content %}

<div class="container-fluid">

  <h2>All Jobs</h2>
  
  <div class="row">
  
    <div class="col-md-6">
      <table class="table">
        <tbody>
          <tr>
            <th>Total Jobs</th>
            <td>{{ stats["jobs"] }} ({{ stats["completed"] }} Complete / {{ stats["failed"] }} Failed / {{ stats["cancelled"] }} Cancelled)</td>
          </tr>
          <tr>
            <th>Cluster Time</th>
            <td>{{ stats["total_time"] }} hours</td>
          </tr>
          <tr>
            <th>CPU Time</th>
            <td>{{ stats["cpu_time"] }} hours</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div style="width: 100%;" class="pt-1">
        <canvas id="jobchart"></canvas>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-4">
      <div style="width: 100%;">
        <canvas id="usercpuchart"></canvas>
      </div>
    </div>

    <div class="col-md-4">
      <div style="width: 100%;">
        <canvas id="usermemchart"></canvas>
      </div>
    </div>

    <div class="col-md-4">
      <div style="width: 100%;">
        <canvas id="userfailchart"></canvas>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-6">
      <div style="width: 100%;" class="pt-5">
        <canvas id="cpuchart"></canvas>
      </div>
    </div>
    <div class="col-md-6">
      <div style="width: 100%;" class="pt-5">
        <canvas id="memchart"></canvas>
      </div>
    </div>

  </div>

</div>


{% endblock %}

{% block js %}


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>


const jobdata = {
  labels: [
    'Completed',
    'Failed',
    'Cancelled'
  ],
  datasets: [{
    label: 'Job Summary',
    data: [{{ stats["completed"] }}, {{ stats["failed"] }}, {{ stats["cancelled"] }}],
    backgroundColor: [
      'rgb(0, 155, 0)',
      'rgb(155, 0, 0)',
      'rgb(0, 0, 155)'
    ],
    hoverOffset: 4
  }]
};

new Chart("jobchart", {
  type: "doughnut",
  data: jobdata,
  options: {
    devicePixelRatio: 4,
    plugins: {
      legend: {
        display: true
      },
      title: {
        display: false,
        text: "Job Summary Last Month",
        font: {
          size: 20
        }
      }
    }
  }
});



const memdata = {
  labels : {{ history_labels|safe }},
  datasets : [
    {
      label: "",
      data: {{ mem_history|safe }},
      borderColor: "#000000",
      backgroundColor: "#CC0000"
    }
  ]
};

new Chart("memchart", {
  type: "line",
  data: memdata,
  options: {
    devicePixelRatio: 4,
    plugins: {
      legend: {
        display: false
      },
      title: {
        display: true,
        text: "Memory Usage Last Month",
        font: {
          size: 20
        }
      }
    },
    scales : {
      y: {
        title: {
          display: true,
          text: "Memory GBH"
        },
        ticks: {
          beginAtZero: true
        }
      }
    }
  }
});


const cpudata = {
  labels : {{ history_labels|safe }},
  datasets : [
    {
      label: "",
      data: {{ cpu_history|safe }},
      borderColor: "#000000",
      backgroundColor: "#CC0000"
    }
  ]
};

new Chart("cpuchart", {
  type: "line",
  data: cpudata,
  options: {
    devicePixelRatio: 4,
    plugins: {
      legend: {
        display: false
      },
      title: {
        display: true,
        text: "CPU Hours Last Month",
        font: {
          size: 20
        }
      }
    },
    scales : {
      y: {
        title: {
          display: true,
          text: "CPU Hours"
        },
        ticks: {
          beginAtZero: true
        }
      }
    }
  }
});


const user_mem_usage = {
  labels : {{ mem_usernames|safe }},
  datasets : [
    {
      label: "",
      data:{{ user_mem_usage|safe }},
      borderColor: "#000000",
      backgroundColor: "#CC0000"
    }
  ]
};

new Chart("usermemchart", {
  type: "bar",
  data: user_mem_usage,
  options: {
    devicePixelRatio: 4,
    plugins: {
      legend: {
        display: false
      },
      title: {
        display: true,
        text: "Highest User Memory",
        font: {
          size: 20
        }
      }
    },
    indexAxis: 'y',
    scales : {
      x: {
        title: {
          display: true,
          text: "Memory GBH"
        },
        ticks: {
          beginAtZero: true
        }
      }
    }
  }
});


const user_fail_usage = {
  labels : {{ fail_usernames|safe }},
  datasets : [
    {
      label: "",
      data:{{ user_fail_usage|safe }},
      borderColor: "#000000",
      backgroundColor: "#CC0000"
    }
  ]
};

new Chart("userfailchart", {
  type: "bar",
  data: user_fail_usage,
  options: {
    devicePixelRatio: 4,
    plugins: {
      legend: {
        display: false
      },
      title: {
        display: true,
        text: "Highest User Failed Jobs",
        font: {
          size: 20
        }
      }
    },
    indexAxis: 'y',
    scales : {
      x: {
        title: {
          display: true,
          text: "Failed Jobs"
        },
        ticks: {
          beginAtZero: true
        }
      }
    }
  }
});



const user_cpu_hours = {
  labels : {{ cpu_usernames|safe }},
  datasets : [
    {
      label: "",
      data:{{ user_cpu_hours|safe }},
      borderColor: "#000000",
      backgroundColor: "#CC0000"
    }
  ]
};

new Chart("usercpuchart", {
  type: "bar",
  data: user_cpu_hours,
  options: {
    devicePixelRatio: 4,
    plugins: {
      legend: {
        display: false
      },
      title: {
        display: true,
        text: "Highest User CPU Hours",
        font: {
          size: 20
        }
      }
    },
    indexAxis: 'y',
    scales : {
      x: {
        title: {
          display: true,
          text: "CPU Hours"
        },
        ticks: {
          beginAtZero: true
        }
      }
    }
  }
});



</script>

{% endblock %}

