{% extends "base.html" %}
{% block content %}

<div class="container-fluid">

  <div class="row">
    <h2>Storage Usage for All Users</h2>
  </div>

  <div class="row">
    <div style="width: 100%;" class="pt-5">
      <canvas id="storagetimechart"></canvas>
    </div>
  </div>

  <div class="row pt-5">  
    <div class="col-md-2">
    Compare with
    </div>
    <div class="col-md-4">
    <select class="form-select" id="previousdates">
      <option>None</option>

      {% for date in previous_dates %}
      {% if date == shown_date %}
      <option selected>{{ date }}</option>
      {% else %}
      <option>{{ date }}</option>
      {% endif %}
      {% endfor %}
    
    </select>
    </div>
  </div>



  <div class="row">

    <div style="width: 100%;" class="pt-5">
      <canvas id="storagechart" style="width: 100%; height: 20em;"></canvas>
    </div>

  </div>


</div>

{% endblock %}

{% block js %}

<script src="{{ url_for('static', filename='js/allstorage.js') }}"></script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
const data = {
  labels : {{ user_labels| safe }},
  datasets : {{ user_data|safe }}
};

new Chart("storagechart", {
  type: "bar",
  data: data,
  options: {
    responsive: true,
    devicePixelRatio: 4,
    plugins: {
    },
    indexAxis: 'y',
    scales : {
      x: {
        stacked: true,
        title: {
          display: true,
          text: "Size (TB)"
        },
        ticks: {
          beginAtZero: true
        }
      },
      y: {
        stacked: true,
        ticks: {
          autoSkip: false
        }
      }
    }
  }
});


const timedata = {
  labels : {{ dates|safe }},
  datasets : [
    {
      label: "",
      data:{{ sizestime|safe }},
      borderColor: "#000000",
      backgroundColor: "#CC0000"
    }
  ]
};

new Chart("storagetimechart", {
  type: "line",
  data: timedata,
  options: {
    devicePixelRatio: 4,
    plugins: {
      legend: {
        display: false
      },
      title: {
        display: true,
        text: "Usage over the last month",
        font: {
          size: 20
        }
      }
    },
    scales : {
      y: {
        title: {
          display: true,
          text: "Size (TB)"
        },
        beginAtZero: true
      }
    },
  }
});



</script>

{% endblock %}
