{% extends "base.html" %}
{% block content %}

<div class="container-fluid">


  <div class="row">
    <div class="col-md-6">  
      <h2>Jobs over last month</h2>

        {% if isadmin %}
        <select class="form-select" id="usertoview">
        
        {% for username in username_list %}
        {% if username == shown_username %}
        <option selected>{{ username }}</option>
        {% else %}
        <option>{{ username }}</option>
        {% endif %}
        {% endfor %}

        </select>
        {% endif %}

  
      <p>This is your activity in the last month.</p>
      <table class="table">
        <tbody>
          <tr>
            <th>Total Jobs</th>
            <td>{{ stats["jobs"] }} ({{ stats["completed"] }} Complete / {{ stats["failed"] }} Failed / {{ stats["cancelled"] }} Cancelled)</td>
          </tr>
          <tr>
            <th>Cluster Time</th>
            <td>{{ stats["total_time"] }} hours</td>
          </tr>
          <tr>
            <th>CPU Time</th>
            <td>{{ stats["cpu_time"] }} hours</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-4">
      <div style="width: 100%;" class="pt-1">
        <canvas id="jobchart" style="width: 100%;"></canvas>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div style="width: 100%;" class="pt-5">
        <canvas id="cpuchart" style="width: 100%;"></canvas>
      </div>
    </div>
    <div class="col-md-6">
      <div style="width: 100%;" class="pt-5">
        <canvas id="memchart" style="width: 100%;"></canvas>
      </div>
    </div>

  </div>

</div>


{% endblock %}

{% block js %}

<script src="{{ url_for('static', filename='js/jobs.js') }}"></script>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>

const jobdata = {
  labels: [
    'Completed',
    'Failed',
    'Cancelled'
  ],
  datasets: [{
    label: 'Job Summary',
    data: [{{ stats["completed"] }}, {{ stats["failed"] }}, {{ stats["cancelled"] }}],
    backgroundColor: [
      'rgb(0, 155, 0)',
      'rgb(155, 0, 0)',
      'rgb(0, 0, 155)'
    ],
    hoverOffset: 4
  }]
};

new Chart("jobchart", {
  type: "doughnut",
  data: jobdata,
  options: {
    responsive: true,
    plugins: {
      legend: {
        display: true,
        labels : {
          font: {
            size: 20
          }
        }
      },
      title: {
        display: false
      }
    }
  }
});


const memdata = {
  labels : {{ history_labels|safe }},
  datasets : [
    {
      label: "",
      data: {{ mem_history|safe }},
      borderColor: "#000000",
      backgroundColor: "#CC0000"
    }
  ]
};

new Chart("memchart", {
  type: "line",
  data: memdata,
  options: {
    responsive: true,
    plugins: {
      legend: {
        display: false
      },
      title: {
        display: true,
        text: "Job Memory Usage Last Month",
        font: {
          size: 24
        }
      }
    },
    scales : {
      x: {
        ticks: {
          font: {
            size: 16
          }
        }
      },
      y: {
        title: {
          display: true,
          text: "Memory GBH",
          font: {
            size: 20
          }
        },
        ticks: {
          beginAtZero: true,
          font: {
            size: 16
          }
        },
      }
    }
  }
});


const cpudata = {
  labels : {{ history_labels|safe }},
  datasets : [
    {
      label: "",
      data: {{ cpu_history|safe }},
      borderColor: "#000000",
      backgroundColor: "#CC0000"
    }
  ]
};

new Chart("cpuchart", {
  type: "line",
  data: cpudata,
  options: {
    responsive: true,
    plugins: {
      legend: {
        display: false
      },
      title: {
        display: true,
        text: "CPU Hours Last Month",
        font: {
          size: 24
        }
      }
    },
    scales : {
      x: {
        ticks: {
          font: {
            size: 16
          }
        }
      },

      y: {
        title: {
          display: true,
          text: "CPU Hours",
          font: {
            size: 20
          }
        },
        ticks: {
          beginAtZero: true,
          font: {
            size: 16
          }

        }
      }
    }
  }
});


</script>

{% endblock %}

