{% extends "base.html" %}
{% block content %}

<div class="container-fluid">

  <div class="row">
    <h2 class="pb-5">Storage Usage for {{ person }}</h2>
  </div>
  
  <div class="row">
    <h4>Your current total storage usage is <strong>{{ totals["total_size"] }}GB</strong></h4>
  </div>

  <div class="row">
    <h4>The lifetime cost to the institute for this amount of storage is <strong>&pound;{{ totals["lifetime_cost"] }}</strong></h4>
  </div>


  <div class="row">

    <div style="width: 50%;" class="pt-5">
      <canvas id="storagechart"></canvas>
    </div>

  </div>


</div>

{% endblock %}

{% block js %}


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
const data = {
  labels : {{ shares|safe }},
  datasets : [
    {
      label: "",
      data:{{ sizes|safe }},
      borderColor: "#000000",
      backgroundColor: "#CC0000"
    }
  ]
};

new Chart("storagechart", {
  type: "bar",
  data: data,
  options: {
    devicePixelRatio: 4,
    plugins: {
      legend: {
        display: false
      }
    },
    indexAxis: 'y',
    scales : {
      x: {
        title: {
          display: true,
          text: "Size (GB)"
        },
        ticks: {
          beginAtZero: true
        }
      }
    }
  }
});
</script>

{% endblock %}
