{% extends "base.html" %}
{% block content %}

<div class="container-fluid">

  <div class="row">
    <h2>Storage Usage</h2>
  </div>

  {% if isadmin %}
  <div class="row pt-2 pb-3">  
  <div class="col-md-4">
  <select class="form-select" id="usertoview">
  
  {% for username in username_list %}
  {% if username == shown_username %}
  <option selected>{{ username }}</option>
  {% else %}
  <option>{{ username }}</option>
  {% endif %}
  {% endfor %}

  </select>
  </div>
  </div>
  {% endif %}

  <div class="row">
    <p>This is an overall summary of your storage usage.  You can see a breakdown by folder in the <a href="{{ url_for('folders') }}">folders</a> page.</p>
  </div>

  <div class="row">
    <h4>Your current total storage usage is <strong>{{ totals["total_size"] }}GB</strong></h4>
  </div>

  <div class="row">
    <h4>The lifetime cost to the institute for this amount of storage is <strong>&pound;{{ totals["lifetime_cost"] }}</strong></h4>
  </div>


  <div class="row">

    <div class="col-md-6">
      <div style="width: 100%;" class="pt-5">
        <canvas id="storagechart" style="width: 100%; height: 20em"></canvas>
      </div>
    </div>

    <div class="col-md-6">
      <div style="width: 100%;" class="pt-5">
        <canvas id="storagetimechart" style="width: 100%; height: 20em"></canvas>
      </div>
    </div>
  </div>



</div>

{% endblock %}

{% block js %}


<script src="{{ url_for('static', filename='js/storage.js') }}"></script>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


<script>
const data = {
  labels : {{ shares|safe }},
  datasets : [
    {
      label: "",
      data:{{ sizes|safe }},
      borderColor: "#000000",
      backgroundColor: "#CC0000"
    }
  ]
};

new Chart("storagechart", {
  type: "bar",
  data: data,
  options: {
    responsive: true,
    plugins: {
      legend: {
        display: false
      }
    },
    indexAxis: 'y',
    scales : {
      x: {
        title: {
          display: true,
          text: "Size (GB)",
          font: {
            size: 16
          }
        },
        ticks: {
          beginAtZero: true
        }
      },
      y: {
        ticks: {
          font: {
            size: 18
          }
        }
      }
    }
  }
});



const timedata = {
  labels : {{ dates|safe }},
  datasets : [
    {
      label: "",
      data:{{ sizestime|safe }},
      borderColor: "#000000",
      backgroundColor: "#CC0000"
    }
  ]
};

new Chart("storagetimechart", {
  type: "line",
  data: timedata,
  options: {
    responsive: true,
    plugins: {
      legend: {
        display: false
      },
      title: {
        display: true,
        font: {
          size: 24
        },
        text: "Usage over the last month"
      }
    },
    scales : {
      y: {
        title: {
          display: true,
          text: "Size (GB)",
          font: {
            size: 16
          }
        },
        beginAtZero: false
      }
    },
  }
});


</script>

{% endblock %}
